.tweet-main-content {
    height: 100%;
    overflow-y: auto;
}


.tweet-main-content::-webkit-scrollbar {
    width: 5px;
    background-color: #555;

}

.tweet-main-content::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px; 
}


.tweet-main-content::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}


.tweet-main-content::-webkit-scrollbar-track {
    background-color: #f2f2f2; 
}


@media (max-width: 768px) {
  /* Optional: make main-content take full width on mobile */
  .tweet-main-content {
    width: 90%;
    height: auto !important; /* force override */
    border-left: none;
    border-right: none;
  }

}
