.sidebar {
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    font-size: 20px;
    margin-right: 20px;
}

.sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}

.username-container {
    font-size: 14px;
    background-color: rgb(60, 60, 60);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-image {
    height: 40px;
    margin-left: 10px;
}