.layout-container {
    display: flex;
}

.right-bar {
    width: 350px;
}

.main-content {
    width: 600px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    height: 100vh;
}

@media (max-width: 768px) {
  .right-bar {
    display: none;
  }

  /* Optional: make main-content take full width on mobile */
  .main-content {
    width: 100%;
    border-left: none;
    border-right: none;
  }

  /* Optional: adjust layout-container if needed */
  .layout-container {
     width: 100%;
     height: auto;
    flex-direction: column;
  }
}
