.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 22, 50);
    width: 300px;
    height: 300px;
    padding-bottom: 20px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.submit-button {
    border-radius: 20px;
    border: 0;
    height: 30px;
    background-color: rgb(29, 155, 240);
    color: white;
}

.input-auth {
    height: 35px;
    width: 200px;
    border: 0;
    border-radius: 8px;
}

.auth-link {
    color: rgb(29, 155, 240);
    font-size: 15px;
    margin-top: 10px;
}

.error-message{
    color: red;
    width: 200px;
    margin-top: 15px;
}

